/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/node_modules
/bower_components
/public/usr/1
/public/images/dummy
/public/files
/public/assets/vendor
/.bowerrc
