


/* ========================================== */
/*              by alan                       */
/* ========================================== */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/* Custom default button 
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` 
  background-color: #fff;
  border: 1px solid #fff;
}
*/

/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
}
body {
  color: #000;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

/* ========================================= modal =======================================*/

.modalTitleBorder{ padding: 10px 0; border-top: 2px solid #a9abad; border-bottom: 2px solid #a9abad; }
.modal-content { 
  background: url('../images/modal-bg.jpg'); 
  background-repeat: no-repeat;  
  background-color: #fff;  
  background-position: bottom right; 
  border-right: 10px solid #be1e2d;
  border-radius: 50px 15px 50px 15px;
  border-top: 10px solid #be1e2d;  
}

/* ========================================= header =======================================*/
nav.navbar { border-top: 10px solid #be1e2d; }

.masthead-nav > li {
  display: table-cell;
  width: 150px;
  height: 100px;
  -webkit-transform: skew(-30deg);
     -moz-transform: skew(-30deg);
       -o-transform: skew(-30deg);
  border-left: #5c5d60 2px solid;
}
.masthead-nav > li:first-child { border-left: none; }


.masthead-nav > li + li {
/*   margin-left: 20px; */
}

.masthead-nav > li.activeRed, .masthead-nav > li:hover,
.extra-nav > li.activeRed, .extra-nav > li:hover { background-color: #be1e2d; }
.masthead-nav > li.activeRed a, .masthead-nav > li:hover a,
.extra-nav > li.activeRed a, .extra-nav > li:hover a { color: #fff !important; }
.masthead-nav > li.activeRed a i, .masthead-nav > li:hover a i { color: #fff; }

.masthead-nav > li > a {
  display: block;
  padding-top: 35px;
  padding-right: 10px;
  padding-left: 0;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  -webkit-transform: skew(30deg);
     -moz-transform: skew(30deg);
       -o-transform: skew(30deg);
  text-decoration:none;
  text-transform: uppercase;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-nav > .active > a:hover {
  background-color: transparent;
  color: #be1e2d;
  text-transform: uppercase;
}


.masthead-nav > .active > a,
.masthead-nav > .active > a:focus {
  color: #000;
  text-transform: uppercase;
}

.masthead-nav > li > a > .glyphicon{
  font-size: x-large;
  color: #be1e2d;
}

.navbar-nav>li>a{
  font-size: 15px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-nav>li>a:hover{
  background: transparent;
  color: #be1e2d;
}

.navbar-brand img { width: 100%; }

.extra-nav{
  margin-top: 51px;
}

.unloginNav li:last-child{
  margin-left: 40px;
}
.unloginNav li:first-child{
  margin-left: 25px;
}

      @media (min-width: 768px) {
        /* Pull out the header and footer */
        .masthead {
          z-index: 100;
          background-color: white; 
          border-top: #be1e2d 10px solid;
          border-bottom: #be1e2d 1px solid; 
          position: fixed;
          top: 0;
        }

        .masthead-nav {
          float: left;
          margin-top: 0;
          margin-left: 0;
        }

        .masthead-nav li a img { max-width: 30px; margin-bottom: 5px; }

        .extra-nav { float: right; }

        .mastfoot {
          height: 100%;
          float: left;
          /*position: fixed;
          bottom: 0;*/
        }

        /* Handle the widths */
        .masthead,
        .mastfoot,
        .cover-container {
          width: 100%; /* Must be percentage or pixels for horizontal alignment */
        }
      }
      @media (min-width: 768px) and (max-width: 991px) {
        .extra-nav{
          margin-top: 23px !important;
        }
      }

      @media (max-width: 1022px) and (min-width: 768px) {
        .masthead-nav {
          margin-top: 23px;
          float: right;
        }
        .extra-nav{
          margin-top: 19px;
        }
        .navbar-header.loginNav { max-width: 120px; }
        .navbar-header.loginNav img { width: 100%; height: auto; margin-top: 20px; }
      }
      @media (max-width: 1200px) and (min-width: 1023px) {
        .navbar-header.loginNav img { width: 150px; height: auto; margin-top: 20px; }
        .masthead-nav { margin-left: 0; }
       
      }

      @media (max-width: 767px) {
        .extra-nav{
          margin-top: 0;
        }
      }

      @media (max-width: 1022px) {
        .extra-nav > li { display: block; }
        .unloginNav li:last-child{
          margin-left: 0;
        }        
        .masthead-nav > li {
          display: block;
          width: auto;
          height: auto;
          -webkit-transform: none;
          -moz-transform: none;
          -o-transform: none;
          border-left: none;
        }
        .masthead-nav > li > a { 
          -webkit-transform: none;
          -moz-transform: none;
          -o-transform: none;
          padding: 10px 15px;
        }
        .masthead-nav li a img { display: none; }
        .masthead-nav > li > a > i, .masthead-nav > li > a > br { display: none; }
        .nav > li > a { text-align: center; }
        .masthead-nav > li + li { margin-left: 0; }
      }

/* ========================================= carousel n video =======================================*/

#videoFrame {
  width: auto;
  position: absolute;
  top: 10%;
  right: 5%;
}
@media (max-width: 768px) {
  #videoFrame { display: none; }
}

/* ========================================= content web =======================================*/
.container { margin-top: 40px; }
.flagtitle{
  width:248px; 
  height:37px; 
  margin-bottom: 10px;
  background: url('../images/flagtitle.png');
}

.flagtitle span{
    color: white;
    font-weight: 800;
    font-size: 17px;
    float: left;
    margin-top: 9px;
    margin-left: 60px;
}

.infoBar { 
  background-color: #000; 
  padding: 5px 10px;
}
.infoBar p { color: #fff; font-size: 1em; text-align: left;}
.infoBar a { color: #fff; cursor: pointer; }



/* ========================================= footer Block =======================================*/
.footerBlock .socmed_icon { margin-top: 30px; }
.footerBlock .socmed_icon ul { text-align: right; }
      @media (min-width: 1200px) {
        .footerBlock .socmed_icon ul { text-align: left; }
      }
      @media (max-width: 1199px) {
        .footerBlock .socmed_icon { margin-top: 0; }
      }



.footerBlock .socmed_icon li { display: inline-block; margin-left: 15px; }
.footerBlock .socmed_icon li:first-child { margin-left: 0; }

.footerBlock .socmed_icon li a { color: #fff; }

.copyR { color: #fff; margin-top: 30px; text-align: right; }

.ftlogo{
    float: left;
    margin-bottom: 15px;
  }
.ftlogo img{
    width: 170px;
  }

.availstore{
  float:left; 
  width:120px; 
  margin-left:10px;
}

      @media (min-width: 769px) and (max-width: 940px) {
      .ftlogo img{
          width: 170px;
        }
      }
      @media (max-width: 768px) {
      .ftlogo img{
        width: 143px;
      }
}
/* ========================================== */
/*              extend bootstrap              */
/* ========================================== */

.modal-content { padding: 0 50px; font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif; }
.modal-footer, .modal-header { border: none; }
.modal-body { padding-top: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .container-navbar { width: 100%; }
  .container-navbar .masthead-nav { margin-left: 0; }
  .nav>li>a { padding: 10px 9px; }

}
@media (min-width: 768px){
  .navbar-right.masthead-nav {
      margin-right: 0;
  }
  
}

.navbar-brand { padding: 5px 15px 0; }
.navbar,.navbar-header { min-height: 90px; }
.navbar-brand { height: auto; }
.navbar { margin-bottom: 0; }

#carousel-slider {  margin-top: 110px; }
      @media (max-width: 920px) {
        #carousel-slider {  margin-top: 105px; }
      }

#carousel-slider .carousel-inner .item { width: 100%; height: auto; }
      @media (min-width: 1024px) {
        #carousel-slider .carousel-inner .item { width: 100%; height: 520px; }
      }


#carousel-slider .carousel-inner .item img { width: 100%; height: auto; }
.carousel-indicators li {
  background-color: #fff;
  border: 1px solid #be1e2d;
}

.carousel-indicators .active{  
  background-color: #be1e2d;
  border: 1px solid #fff;
}

/* ========================================== */
/*              extend bxslider              */
/* ========================================== */

.bx-wrapper .bx-controls-direction a { z-index: 999 !important; }
ul.bxslider li { width: 50%; }
ul.bxslider li img { width: 100%; }

.bx-wrapper { background: #fff !important; box-shadow: none !important; -webkit-box-shadow: none !important;  }
.bxslider1 > li, .bxslider2 > li { overflow: hidden; }
.bxslider1 > li > .infoBar > a, .bxslider2 > li > .infoBar > a { position: relative; bottom: 0; transition: all 0.8s; }

/* .bxslider1 > li:hover .infoBar > a, .bxslider2 > li:hover .infoBar > a { bottom: 0; } */


/* ========================================== */
/*              css additional:               */
/* ========================================== */

.bgBlack { background-color: #000; }

.clr-red{ color: #be1e2d; }
.clr-white { color: #fff; }
.inlineB { display: inline-block; }



.mt0{
  margin-top: 0;
}
.mt10{
  margin-top: 10px;
}
.mt15{
  margin-top: 15px;
}
.mt30{
  margin-top: 30px;
}
.mt80{
  margin-top: 80px;
}
.mt150{
  margin-top: 150px !important;
}


.mb0{
  margin-bottom: 0;
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mb40{
  margin-bottom: 40px;
}
.mb80{
  margin-bottom: 80px;
}

.ml0 { margin-left: 0; }
.ml10 { margin-left: 10px; }
.ml15 { margin-left: 15px; }
.ml50 { margin-left: 50px !important; }

.pb0 { padding-bottom: 0 !important; }
.pt0 { padding-top: 0; }
.p15 { padding: 15px !important; }

.pl0 { padding-left: 0; }
.pr0 { padding-right: 0; }
.bgBlack { background-color: #000; }

.success > .glyphicon-thumbs-up{
  color: green;
}

.actionRow a{
  cursor: pointer;
}

.comment-type{
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 11px;
  margin-bottom: 15px;
  cursor: pointer;
}

.attack-bg{
  background: url('../images/icon_attack_grey.png');
  background-size: contain;
}

.assist-bg{
  background: url('../images/icon_assist_grey.png');
  background-size: contain;
}

.defense-bg{
  background: url('../images/icon_defense_grey.png');
  background-size: contain;
}

.attack-bg-hover{
  background: url('../images/icon_attack.jpg');
  background-size: contain;
}

.assist-bg-hover{
  background: url('../images/icon_assist.jpg');
  background-size: contain;
}

.defense-bg-hover{
  background: url('../images/icon_defense.jpg');
  background-size: contain;
} 